<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include ('./partials/sidebar') %>
        <main>
            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Dữ Liệu Thùng Hàng</h3>
                        <i class='bx bx-filter'></i>
                        <!-- <i class='bx bx-search'></i> -->
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Thời Gian</th>
                                <th>Mã hàng</th>
                                <th>Dữ liệu đầu vào</th>
                                <th>Dữ liệu tực tế</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:00</p>
                                </td>
                                <td>71237-R0000</td>
                                <td>10</span></td>
                                <td>10</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:05</p>
                                </td>
                                <td>814C1-R0100WK</td>
                                <td>11</td>
                                <td>11</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:10</p>
                                </td>
                                <td>82241-R0000</td>
                                <td>8</td>
                                <td>8</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:15</p>
                                </td>
                                <td>82260-R0010</td>
                                <td>9</td>
                                <td>9</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:20</p>
                                </td>
                                <td>92409-R0320</td>
                                <td>8</td>
                                <td>8</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:25</p>
                                </td>
                                <td>83241-R0000</td>
                                <td>7</td>
                                <td>7</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:30</p>
                                </td>
                                <td>92409-R0320</td>
                                <td>11</td>
                                <td>10</td>
                                <td><span class="status notcompleted">Not completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:35</p>
                                </td>
                                <td>28256-2R101</td>
                                <td>12</td>
                                <td>12</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:40</p>
                                </td>
                                <td>85860-R0200BSU</td>
                                <td>12</td>
                                <td>12</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:45</p>
                                </td>
                                <td>97250-R0300FHL</td>
                                <td>12</td>
                                <td>12</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:50</p>
                                </td>
                                <td>92620-A9000BSU</td>
                                <td>12</td>
                                <td>11</td>
                                <td><span class="status notcompleted">Not Completed</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>



            </div>

        </main>
</body>

</html>