<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include ('./partials/sidebar') %>
        <main>
            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Dữ Liệu Điện Năng</h3>
                        <i class='bx bx-filter'></i>
                        <!-- <i class='bx bx-search'></i> -->
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Thời Gian</th>
                                <th>Thiết Bị</th>
                                <th>Dòng Điện</th>
                                <th>Cảnh Báo Quá Dòng</th>
                                <th>-----</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:00</p>
                                </td>
                                <td>Máy 1</td>
                                <td>10</span></td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:05</p>
                                </td>
                                <td>Máy 1</td>
                                <td>11</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:10</p>
                                </td>
                                <td>Máy 1</td>
                                <td>8</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:15</p>
                                </td>
                                <td>Máy 1</td>
                                <td>9</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:20</p>
                                </td>
                                <td>Máy 1</td>
                                <td>8</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:25</p>
                                </td>
                                <td>Máy 1</td>
                                <td>7</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:30</p>
                                </td>
                                <td>Máy 1</td>
                                <td>11</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:35</p>
                                </td>
                                <td>Máy 1</td>
                                <td>12</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:40</p>
                                </td>
                                <td>Máy 1</td>
                                <td>12</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:45</p>
                                </td>
                                <td>Máy 1</td>
                                <td>12</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:50</p>
                                </td>
                                <td>Máy 1</td>
                                <td>12</td>
                                <td>false</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>



            </div>

        </main>
</body>

</html>