<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giám sát nhiệt độ</title>

    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="/js/chart_temp.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/diennang.css">
</head>
<body>
    <%- include ('./partials/sidebar') %>

    <main>

        <!-- Insights -->
        <ul class="insights">
            <li>
                <i class='bx bx-calendar-check'></i>
                <span class="info">
                    <h3>
                        Case No
                    </h3>
                    <p>A99</p>
                </span>
            </li>
            <li><i class='bx bx-show-alt'></i>
                <span class="info">
                    <h3>
                        Part No
                    </h3>
                    <p>	71237R0000</p>
                </span>
            </li>
            <li><i class='bx bx-line-chart'></i>
                <span class="info">
                    <h3>
                        SL vật tư đầu vào(Qty)
                    </h3>
                    <p>40</p>
                </span>
            </li>
            <li><i class='bx bx-line-chart'></i>
                <span class="info">
                    <h3>
                        SL vật tư thực tế
                    </h3>
                    <p>38</p>
                </span>
            </li>
        </ul>
        <!-- End of Insights -->

        <!-- <div class="bottom-data">
            <div class="orders">
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>Biểu đồ nhiệt độ</h3>
                    <i class='bx bx-filter'></i> -->
                    <!-- <i class='bx bx-search'></i> -->
                <!-- </div>
                <div id="chartContainer" style="position: relative; height: 470px; width: 100%;"></div>
            </div> -->

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>PACKING LIST</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Case No</th>
                                <th>Part No</th>
                                <th>SL Box</th>
                                <th>SL vật tư đầu vào(Qty)</th>
                                <th>SL vật tư thực tế</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>A99</td>
                                <td>71237R0000</td>
                                <td>2</td>
                                <td>40</td>
                                <td>38</td>
                                <td><span class="status notcompleted">Not Completed</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>A99</td>
                                <td>71247R0000</td>
                                <td>2</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>F33</td>
                                <td>814C1R0100WK</td>
                                <td>8</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>F33</td>
                                <td>82231R0000</td>
                                <td>1</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>F33</td>
                                <td>82241R0000</td>
                                <td>1</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>F33</td>
                                <td>82250R0010</td>
                                <td>2</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>F33</td>
                                <td>82260R0010</td>
                                <td>2</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>F33</td>
                                <td>83231R0000</td>
                                <td>1</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <!-- <tr>
                                <td>9</td>
                                <td>F33</td>
                                <td>83241R0000</td>
                                <td>1</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr> -->
                            <!-- <tr>
                                <td>10</td>
                                <td>F11</td>
                                <td>58731R0000</td>
                                <td>1</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>F11</td>
                                <td>58732R0000</td>
                                <td>2</td>
                                <td>40</td>
                                <td>40</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
    
        
    
            </div>

            

        </div>

    </main>
</body>
</html>