<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giám sát nhiệt độ</title>

    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="/js/chart_temp.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/diennang.css">
</head>
<body>
    <%- include ('./partials/sidebar') %>

    <main>

        <!-- Insights -->
        <ul class="insights">
            <li>
                <i class='bx bx-calendar-check'></i>
                <span class="info">
                    <h3>
                        Mã Case
                    </h3>
                    <p>C32</p>
                </span>
            </li>
            <li><i class='bx bx-show-alt'></i>
                <span class="info">
                    <h3>
                        Mã hàng
                    </h3>
                    <p>83810-R0000</p>
                </span>
            </li>
            <li><i class='bx bx-line-chart'></i>
                <span class="info">
                    <h3>
                        Dữ liệu đầu vào
                    </h3>
                    <p>10</p>
                </span>
            </li>
            <li><i class='bx bx-line-chart'></i>
                <span class="info">
                    <h3>
                        Dữ liệu thực tế
                    </h3>
                    <p>9</p>
                </span>
            </li>
        </ul>
        <!-- End of Insights -->

        <!-- <div class="bottom-data">
            <div class="orders">
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>Biểu đồ nhiệt độ</h3>
                    <i class='bx bx-filter'></i> -->
                    <!-- <i class='bx bx-search'></i> -->
                <!-- </div>
                <div id="chartContainer" style="position: relative; height: 470px; width: 100%;"></div>
            </div> -->

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Danh Sách checklist</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Thời gian</th>
                                <th>Mã Case</th>
                                <th>Mã hàng</th>
                                <th>Dữ liệu đầu vào</th>
                                <th>Dữ liệu thực tế</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 13:02:00</p>
                                </td>
                                <td>C32</td>
                                <td>83810-R0000</td>
                                <td>10</td>
                                <td>9</td>
                                <td><span class="status notcompleted">Not Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 14:02:00</p>
                                </td>
                                <td>F32</td>
                                <td>814C1-R0100WK</td>
                                <td>12</td>
                                <td>12</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 15:02:00</p>
                                </td>
                                <td>M11</td>
                                <td>85860-R0200BSU</td>
                                <td>9</td>
                                <td>9</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 14:02:00</p>
                                </td>
                                <td>M11</td>
                                <td>814C1-R0100WK</td>
                                <td>12</td>
                                <td>12</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 15:02:00</p>
                                </td>
                                <td>M11</td>
                                <td>85860-R0200BSU</td>
                                <td>9</td>
                                <td>9</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 14:02:00</p>
                                </td>
                                <td>L11</td>
                                <td>814C1-R0100WK</td>
                                <td>12</td>
                                <td>12</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>15-03-2024 - 15:02:00</p>
                                </td>
                                <td>M22</td>
                                <td>85860-R0200BSU</td>
                                <td>9</td>
                                <td>9</td>
                                <td><span class="status completed">Completed</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
        
    
            </div>

            

        </div>

    </main>
</body>
</html>