<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('./partials/sidebar') %>
    <main>
        <div class="bottom-data">
            <div class="orders">
                <div class="header">
                    <i class='bx bx-receipt'></i>
                    <h3>Danh Sách Người Dùng</h3>
                    <i class='bx bx-filter'></i>
                    <i class='bx bx-search'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User Name</th>
                            <th>Mail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                
                                <p>1</p>
                            </td>
                            <td>Nguyen Van A</td>
                            <td>nguyenvana@thaco.com.vn</td>
                            <td><span class="status completed">Admin</span></td>
                        </tr>
                        <tr>
                            <td>
                                
                                <p>2</p>
                            </td>
                            <td>Nguyen Van B</td>
                            <td>nguyenvanb@thaco.com.vn</td>
                            <td><span class="status completed">User</span></td>
                        </tr>
                        <tr>
                            <td>
                                
                                <p>3</p>
                            </td>
                            <td>Nguyen Van C</td>
                            <td>nguyenvanc@thaco.com.vn</td>
                            <td><span class="status completed">User</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

    

        </div>

    </main>
</body>
</html>